.header{
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-top: 71px;
  justify-content: center;
}
.headeritem{

font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #7D7D7D;

}
.headeritemactive{
color: #3FAA3F;
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}



.section1{
  display: flex;
  justify-content: center;
  padding-top: 92px;
}
.section1grid{
  display: grid;
  grid-template-columns: repeat(2, 420px  );
  grid-template-rows: repeat(3, 556px );
  row-gap: 65px;
  column-gap: 120px;
}

.section1item{
display: flex;
flex-direction: column;



}


.section1item p{
  padding-top: 62px;
  padding-bottom: 32px;

  font-weight: 300;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #B4AD9E

}


.section1item h2{
padding-bottom: 10px;

font-weight: 400;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #626262;


}

.section1item h6{

font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #626262;

}
.section1item img{
  width: 420px;
  height: 280px;

}